{% extends 'proveedor/lista.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
     {% for producto in productos_ %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre_proveedor }}</td>
            <td>
                <a href="{% url 'editar_proveedor' producto.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_proveedor' producto.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}