{% extends 'include/list.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
     {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre_categoria }}</td>
            <td>
                <a href="{% url 'editar' categoria.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar' categoria.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block c %}
    <tr>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r %}
    {% for pro in proveedor %}
        <tr>
            <td>{{ pro.id }}</td>
            <td>{{ pro.nombre_proveedor }}</td>
            <td>
                <a href="#" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


{% block c1 %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r1 %}
    {% for platillo in platillos %}
        <tr>
            <td>{{ platillo.id }}</td>
            <td>{{ platillo.nombre_producto }}</td>
            <td>{{ platillo.categoria }}</td>
            <td>{{ platillo.stock }}</td>
            <td>{{ platillo.precio }}</td>
            <td>
                <a href="#" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}