{% extends 'include/list.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
     {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre_categoria }}</td>
            <td>
                <a href="{% url 'editar' categoria.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar' categoria.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block c %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dia</th>
        <th>Producto</th>
        <th>Precio Promoción</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r %}
    {% for promocion in promociones %}
        <tr>
            <td>{{ promocion.id }}</td>
            <td>{{ promocion.nombre_promocion }}</td>
            <td>{{ promocion.dia }}</td>
            <td><ul>
                {% for p in promocion.producto.all %}
                    <li>2 {{ p }}</li>
                {% endfor %}
            </ul>
            </td>
            <td>${{ promocion.precio }}</td>

            <td>
                <a href="{% url 'editar_promocion' promocion.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_promocion' promocion.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


{% block c1 %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r1 %}
    {% for platillo in platillos %}
        <tr>
            <td>{{ platillo.id }}</td>
            <td>{{ platillo.nombre_platillo }}</td>
            <td>{{ platillo.categoria }}</td>
            <td>${{ platillo.precio }}</td>
            <td>
                <a href="{% url 'editar_platillo' platillo.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_platillo' platillo.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block c2 %}
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Efectivo Caja</th>
        <th>Ingreso Efectivo</th>
        <th>Ingreso Tarjeta</th>
        <th>Propina Tarjeta</th>
        <th>Numero de Mesas</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r2 %}
    {% for general in generales %}
        <tr>
            <td>{{ general.id }}</td>
            <td>{{ general.date_joined }}</td>
            <td>${{ general.efectivo_caja }}</td>
            <td>${{ general.ingreso_efectivo }}</td>
            <td>${{ general.ingreso_tarjeta }}</td>
            <td>${{ general.propina_tarjeta }}</td>
            <td>{{ general.numero_mesas }}</td>
            <td>
                <a href="{% url 'editar_general' general.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_general' general.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}