{% extends 'include/list.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
     {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre_categoria }}</td>
            <td>
                <a href="{% url 'editar' categoria.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar' categoria.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block c %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r %}
    {% for producto_dia in productos_dias %}
        <tr>
            <td>{{ producto_dia.promocion1.id }}</td>
            <td>{{ producto_dia.promocion1.nombre_promocion }}</td>
            <td>{{ producto_dia.dia }}</td>
            <td>{{ producto_dia.producto1 }}</td>
            <td>${{ producto_dia.precio_descuento }}</td>
            <td>
                <a href="{% url 'editar_promocion' producto_dia.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_promocion' producto_dia.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


{% block c1 %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block r1 %}
    {% for platillo in platillos %}
        <tr>
            <td>{{ platillo.id }}</td>
            <td>{{ platillo.nombre_platillo }}</td>
            <td>{{ platillo.categoria }}</td>
            <td>${{ platillo.precio }}</td>
            <td>
                <a href="{% url 'editar_platillo' platillo.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_platillo' platillo.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}