{% extends 'carta/carta.html' %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Categoría</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
        <tr>
            <td>1</td>
            <td>Papas Mr Donkey</td>
            <td>$110</td>
            <td></td>
            <td>Alimentos</td>
            <td>
                <a href="#" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
         <tr>
            <td>2</td>
            <td>Soda Italiana</td>
            <td>$45</td>
            <td></td>
            <td>Bebidas</td>
            <td>
                <a href="#" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
{% endblock %}