{% extends 'include/body.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                Meseros
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="table_user">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de creación</th>
                        <th>Nombre de usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Grupo</th>
                        <th>Ultima conexión</th>

                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                         <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.username }}</td>
                             <td>{{ user.first_name }}</td>
                             <td>{{ user.last_name }}</td>
                             <td>{{ user.groups }}</td>
                             <td>{{ user.last_login }}</td>
                            <td>
                                <a href="{% url 'editar_user' user.id %}" class="btn btn-warning btn-xs btn-flat">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'eliminar_user' user.id %}" class="btn btn-danger btn-xs btn-flat">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-flat" href="{% url 'nuevo_user' %}">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#table_user').DataTable({
                responsive: true,
                autoWidth: false
            });
        });
    </script>
{% endblock %}